.body{
    display: flex;
    flex-direction: row;
 
     align-items: center;
     justify-content: center;
     margin:10px;
    
 }
 
 
 .container {
  
     height: 100vh;
     width:500px;
   
    
 }
 
 
 .forgotpassword-form {
   
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     background-color: #fff;
     align-items: center;
 
     
 }
 .forgotpassword-form input {
     margin-top: 5px;
     margin-bottom: 5px;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 5px;
  
 }
 
 
 .forgotpassword-form h1 {
     margin-bottom: 20px;
     text-align: center;
 }
 
 .forgotpassword-form label {
     margin-bottom: 5px;
 }
 .forgotpassword-form button{
     margin-right:5px;
     
 }
 
 
 
 input.ng-invalid.ng-dirty,
 input.ng-invalid.ng-touched {
 box-shadow: 0px 0px 5px 1px;
   border-color: red;
   color: red;
 }
 
 input.ng-valid.ng-dirty,
 input.ng-valid.ng-touched {
   border-color: green;
   color: green;
 }
 

 .forgotpassword-form links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 
 
 .forgotpassword-form a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
 }