<div class="container">
    <h1> Forgot Password </h1>
    <div class="signin-form forgotpassword-form">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="handleForgotPassword(forgotPasswordForm)" class="form-group">

            <div >
            <label for="email"> Email</label>
            <input type="email" id="email" formControlName="email" class="form-control" required />
            <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
                    <span class="text-danger">email is required </span>
                </div>
                <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']" [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                    <span class="text-danger">Invalid email </span>
                </div>
            </div>

            </div>

                <button type="submit" class="btn btn-success" [disabled]="forgotPasswordForm.invalid"> forgot password  </button>
    
        </form>
    </div>
</div>

