

<div class="wrapper sticky">
    <nav class="navbar-fixed-top">
      <a href="#" class="logo">
        <mat-icon></mat-icon> Sunbase
      </a>
      <ul>
          <li> 
              <button  class ="btn btn-primary px-3"(click)="openLoginPage()">Login </button>
              <button  class ="btn btn-success px-3"(click)="openRegistrationPage()">Signup </button>
  
              <a
              data-mdb-ripple-init
              class="btn px-3"
              href="https://github.com/mdbootstrap/mdb-ui-kit"
              role="button"
              ><i class="fa fa-user" style="font-size:36px;"></i
            ></a>
          </li>
      </ul>
    </nav>
  </div>


 <div class="container">


    <h1> Sign up </h1>
  
<div class="form-container signup-form">

    <form [formGroup]="signUpForm" class="form-group" (ngSubmit)="onSubmit(signUpForm)" >
        
        <div class="form" >
            <label for="firstName">First Name </label>
            <input type="text" id="firstName" formControlName="firstName" class="form-control" >
            <div *ngIf="signUpForm.get('firstName')?.touched && signUpForm.get('firstName')?.invalid || submitted && signUpForm.get('firstName')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('firstName')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>

                <div *ngIf ="signUpForm.get('name')?.errors?.['pattern']">
                    <span class="text-danger font-bold">Invalid name </span>
                </div>
                
            </div>
        </div>

        <div class="form" >
            <label for="lastName">Last Name </label>
            <input type="text" id="lastName" formControlName="lastName" class="form-control" >
            <div *ngIf="signUpForm.get('lastName')?.touched && signUpForm.get('lastName')?.invalid || submitted && signUpForm.get('lastName')?.invalid "  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('lastName')?.errors?.['required']">
                    <span class="text-danger font-bold">*Lastname is required</span>
                </div>
            
            </div>
        </div>

        <div class="form" >
            <label for="email">Email </label>
            <input type="text" id="email" formControlName="email" class="form-control" >
            <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid || submitted && signUpForm.get('email')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('email')?.errors?.['required']">
                    <span class="text-danger font-bold">*email is required</span>
                </div>
                <div *ngIf ="signUpForm.get('email')?.errors?.['email']">
                    <span class="text-danger font-bold">Invalid email</span>
                </div>
            </div>
        </div>

       


        <div class="form"  >
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" class="form-control" >
            <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid || submitted && signUpForm.get('password')?.invalid" [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('password')?.errors?.['required']">
                    <span class="text-danger font-bold">*password is required</span>
                </div>
                <div *ngIf ="signUpForm.get('password')?.errors?.['minlength']">
                    <span class="text-danger font-bold">password must be 8 charecter long</span>
                </div>
            </div>
        </div>

        <div class="form" >
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" >
            <div *ngIf="signUpForm.get('confirmPassword')?.touched && signUpForm.get('confirmPassword')?.invalid || submitted && signUpForm.get('confirmPassword')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('confirmPassword')?.errors?.['required'] ">
                    <span class="text-danger font-bold">*Confirm password is required</span>
                </div>
                <div *ngIf ="submitted && signUpForm.get('confirmPassword')?.errors?.['passwordNotMatch']"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                    <span class="text-danger font-bold"> password & confirm password should be same </span>
                </div>
            </div>
        </div>
        <div class="form" >
            <label for="street">street</label>
            <input type="text" id="street" formControlName="street" class="form-control" >
            <div *ngIf="signUpForm.get('street')?.touched && signUpForm.get('street')?.invalid || submitted && signUpForm.get('street')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('street')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>

                <div *ngIf ="signUpForm.get('street')?.errors?.['pattern']">
                    <span class="text-danger font-bold">Invalid name </span>
                </div>
                
            </div>
        </div>

        <div class="form" >
            <label for="city">city</label>
            <input type="text" id="city" formControlName="city" class="form-control" >
            <div *ngIf="signUpForm.get('city')?.touched && signUpForm.get('city')?.invalid || submitted && signUpForm.get('city')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('city')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>

                <div *ngIf ="signUpForm.get('city')?.errors?.['pattern']">
                    <span class="text-danger font-bold">Invalid name </span>
                </div>
                
            </div>
        </div>

        <div class="form" >
            <label for="state">State</label>
            <input type="text" id="state" formControlName="state" class="form-control" >
            <div *ngIf="signUpForm.get('state')?.touched && signUpForm.get('state')?.invalid || submitted && signUpForm.get('state')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('state')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>

                <div *ngIf ="signUpForm.get('state')?.errors?.['pattern']">
                    <span class="text-danger font-bold">Invalid name </span>
                </div>
                
            </div>
        </div>

        <div class="country">
            <label for="country">Country </label>
            <input type="text" id="country" formControlName="country" class="form-control" >
            <div *ngIf="signUpForm.get('country')?.touched && signUpForm.get('country')?.invalid || submitted && signUpForm.get('country')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('country')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>

                <div *ngIf ="signUpForm.get('country')?.errors?.['pattern']">
                    <span class="text-danger font-bold">Invalid name </span>
                </div>
                
            </div>
        </div>


        
        <div class="form" >
            <label for="phone">Phone </label>
            <input type="text" id="phone" formControlName="phone" class="form-control" >
            <div *ngIf="signUpForm.get('phone')?.touched && signUpForm.get('phone')?.invalid || submitted && signUpForm.get('phone')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('phone')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>
                <div *ngIf ="signUpForm.get('phone')?.errors?.['pattern']">
                    <span class="text-danger font-bold">Invalid Phone </span>
                </div>
            </div>
        </div>

        
   
        <div class="form" >
            <label for="role">Role </label>
            <input type="text" id="role" formControlName="role" class="form-control" >
            <div *ngIf="signUpForm.get('role')?.touched && signUpForm.get('role')?.invalid || submitted && signUpForm.get('role')?.invalid"  [ngStyle]="{'text-shadow':'5px 5px 10px', 'font-size':'15px'}">
                <div *ngIf ="signUpForm.get('role')?.errors?.['required']">
                    <span class="text-danger font-bold">*This field is required</span>
                </div>
                
            </div>
        </div>

        

        <a href="/login" > already user? Login here</a>

        <button type="submit" class="btn btn-success" [disabled]="signUpForm.invalid" > Sign-up </button>
        <button type="button" class="btn btn-warning" (click)="reset()" > reset </button>


    </form>
   
</div>
</div>
